.logo {
    height: 2em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

body {
    background-color: aliceblue;
}

.container {
    background-color: white;
    box-shadow: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
    min-height: 100vh;
}

.router-link-active {
    font-weight: bold;
    border-bottom: 2px solid blue;
}

.flyout {
    position: fixed;
    top: 56px;
    right: 0;
    bottom: 0;
    width: 20rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transform: translateX(85%);
    transition: transform 0.3s ease-in-out;
}

.flyout:hover,
.flyout.isOpen {
    transform: translateX(0);
}
